# KDE Desktop Entry
[Desktop Entry]
Name=DeKorator
Name[bg]=DeKorator
Name[bs]=DeKorator
Name[ca]=DeKorator
Name[ca@valencia]=DeKorator
Name[cs]=DeKorator
Name[de]=DeKorator
Name[el]=DeKorator
Name[en_GB]=DeKorator
Name[es]=DeKorator
Name[et]=DeKorator
Name[fa]=DeKorator
Name[fi]=DeKorator
Name[fr]=DeKorator
Name[ga]=DeKorator
Name[gl]=DeKorator
Name[hne]=डेकोरेटर
Name[hu]=DeKorator
Name[it]=DeKorator
Name[km]=DeKorator
Name[ko]=DeKorator
Name[lt]=DeKorator
Name[mr]=डेकोरेटर
Name[nds]=DeKorator
Name[nl]=DeKorator
Name[pa]=ਡੀਕੋਰਟੋਰ
Name[pl]=DeKorator
Name[pt]=DeKorator
Name[pt_BR]=DeKorator
Name[ru]=DeKorator
Name[sk]=DeKorator
Name[sv]=Dekorator
Name[th]=DeKorator
Name[tr]=DeKorator
Name[uk]=DeKorator
Name[x-test]=xxDeKoratorxx
Name[zh_TW]=DeKorator
X-KDE-Library=kwin3_deKorator
