# KDE Desktop Entry
[Desktop Entry]
Name=DeKorator
Name[hne]=डेकोरेटर
Name[pa]=ਡੀਕੋਰਟੋਰ
Name[pt_BR]=Dekorator
Name[sv]=Dekorator
Name[x-test]=xxDeKoratorxx
X-KDE-Library=kwin3_deKorator
